[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
python-dotenv = "*"
v = {editable = true,version = "*"}
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
pillow = "*"

[requires]
python_version = "3.6"
